<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eskul Project{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}font-sans text-slate-800 min-h-screen bg-[#FAFBFF]{% endblock %}">
    {% block content %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
